<div class="nav-panel">
    <nav>
        <ul>
            <li class="tag"><a data-tooltip="all" href="#"><i class="icon fa fa-th" aria-hidden="true"><br/>Tous les outils</i></a></li>
{{ range .Site.Params.nav }}            {{ partial "nav_item.html" . }}{{- end }}
        </ul>
    </nav>
</div>
